In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. List-to-Series Conversion
my_list = [10, 20, 30, 40, 50]
series = pd.Series(my_list)
print("1. List to Series:\n", series, "\n")

1. List to Series:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# 2. Generate series of dates from 1st May 2021 to 12th May 2021
date_series = pd.date_range(start="2021-05-01", end="2021-05-12")
print("2. Date Series:\n", date_series, "\n")

2. Date Series:
 DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# 3. Dictionary to DataFrame
my_dict = {'Name': ['Sana', 'Asha', 'Rahul'], 'Age': [23, 25, 21]}
df_dict = pd.DataFrame(my_dict)
print("3. Dictionary to DataFrame:\n", df_dict, "\n")

3. Dictionary to DataFrame:
     Name  Age
0   Sana   23
1   Asha   25
2  Rahul   21

In [5]:
# 4. 2D List to DataFrame
my_2dlist = [[1, 'Apple'], [2, 'Banana'], [3, 'Mango']]
df_list = pd.DataFrame(my_2dlist, columns=['ID', 'Fruit'])
print("4. 2D List to DataFrame:\n", df_list, "\n")

4. 2D List to DataFrame:
    ID   Fruit
0   1   Apple
1   2  Banana
2   3   Mango

In [4]:
# 5. Read CSV into DataFrame (using a sample CSV created here)
df_csv = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['x', 'y', 'z']
})
df_csv.to_csv("sample.csv", index=False)
df_read = pd.read_csv("sample.csv")
print("5. Read CSV into DataFrame:\n", df_read, "\n")

5. Read CSV into DataFrame:
    A  B
0  1  x
1  2  y
2  3  z

In [7]:
# 6. Sort DataFrame by multiple columns
df_sort = pd.DataFrame({
    'Name': ['Sana', 'Asha', 'Rahul', 'Rahul'],
    'Age': [23, 25, 21, 21],
    'Salary': [50000, 60000, 45000, 47000]
})
print("6. Sorted DataFrame:\n", df_sort.sort_values(by=['Age', 'Salary']), "\n")

6. Sorted DataFrame:
     Name  Age  Salary
2  Rahul   21   45000
3  Rahul   21   47000
0   Sana   23   50000
1   Asha   25   60000

In [5]:
# 7. Convert custom indexing to default indexing
df_custom = pd.DataFrame({'Name': ['Sana', 'Asha', 'Rahul']}, index=['a', 'b', 'c'])
print("7. Before resetting index:\n", df_custom)
df_default = df_custom.reset_index(drop=True)
print("After resetting index:\n", df_default, "\n")

7. Before resetting index:
     Name
a   Sana
b   Asha
c  Rahul
After resetting index:
     Name
0   Sana
1   Asha
2  Rahul

In [9]:
# 8. Select first 2 rows of a DataFrame
print("8. First 2 rows:\n", df_sort.head(2), "\n")

8. First 2 rows:
    Name  Age  Salary
0  Sana   23   50000
1  Asha   25   60000

In [6]:

# 9. Average salary per occupation
df_occ = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Occupation': ['Eng', 'Doc', 'Eng', 'Doc'],
    'Salary': [50000, 70000, 60000, 80000]
})
print("9. Average Salary per Occupation:\n", df_occ.groupby('Occupation')['Salary'].mean(), "\n")

9. Average Salary per Occupation:
 Occupation
Doc    75000.0
Eng    55000.0
Name: Salary, dtype: float64

In [11]:
# 10. Fill NaN values with 0
df_nan = pd.DataFrame({'A': [1, np.nan, 3], 'B': [np.nan, 5, 6]})
print("10. Before fillna:\n", df_nan)
print("After fillna:\n", df_nan.fillna(0), "\n")

10. Before fillna:
      A    B
0  1.0  NaN
1  NaN  5.0
2  3.0  6.0
After fillna:
      A    B
0  1.0  0.0
1  0.0  5.0
2  3.0  6.0

In [7]:
# 11. Convert Profit column >0 -> True else False
df_profit = pd.DataFrame({'cname': ['X', 'Y', 'Z'], 'profit': [200, -100, 0]})
df_profit['profit'] = df_profit['profit'] > 0
print("11. Profit >0 to True/False:\n", df_profit, "\n")

11. Profit >0 to True/False:
   cname  profit
0     X    True
1     Y   False
2     Z   False

In [13]:
# 12. Merge two DataFrames
df_emp1 = pd.DataFrame({
    'eid': [1, 2, 3],
    'ename': ['Asha', 'Sana', 'Rahul'],
    'stipend': [10000, 12000, 11000]
})
df_emp2 = pd.DataFrame({
    'eid': [1, 2, 3],
    'designation': ['Intern', 'Developer', 'Analyst']
})
df_merged = pd.merge(df_emp1, df_emp2, on='eid')
print("12. Merged DataFrame:\n", df_merged, "\n")

12. Merged DataFrame:
    eid  ename  stipend designation
0    1   Asha    10000      Intern
1    2   Sana    12000   Developer
2    3  Rahul    11000     Analyst